{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="copyright" content="&copy; 2020 Michael P&ouml;hn" />
    <title>{% block title %}F-Droid Monitor{% end %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap/bootstrap-reboot.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap/bootstrap-grid.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url("icon/180.png") }}"/>
    <link rel="icon" type="image/png" sizes="48x48" href="{{ static_url("icon/48.png") }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url("icon/32.png") }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url("icon/16.png") }}"/>
    <link rel="shortcut icon" href="{{ static_url("icon/48.ico") }}"/>
  </head>
  <body>
    <div id="site-wrapper" class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="main-heading">
            <a href="/">
              <img id="logo" src="{{ static_url("icon/180.png") }}" />
              F-Droid Monitor
            </a>
          </h1>
        </div>
        <div class="col-12 main-nav">
          <a {% if request.path.startswith("/builds") %}class="current" {% end %}href="/builds">build status</a>
          <a {% if request.path.startswith("/anti-feature") %}class="current" {% end %}href="/anti-features">anti-features</a>
          <a {% if request.path.startswith("/donations") %}class="current" {% end %}href="/donations">donation-summary</a>
          <a {% if request.path.startswith("/website") %}class="current" {% end %}href="/website">website status</a>
        </div>
        <div class="col-12">
          {% block content %}{% end %}
        </div>
      </div>
    </div>
    <footer id="site-footer" class="container">
      <div class="row">
        <div class="col-12">
          <i>
            F-Droid Monitor ({{ monitorVersion }}),
            &copy; 2021 The F-Droid Team,
            AGPL-3.0-or-later
            (<a href="https://gitlab.com/fdroid/fdroid-monitor">source code</a>)
          </i>
        </div>
      </div>
    </footer>
  </body>
</html>
