<!--
SPDX-FileCopyrightText: 2023 Christopher Eory <eorchr@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block title %}donation-summary - F-Droid Monitor{% end %}

{% block content %}

<h2>Donations</h2>

<form method="GET" action="/donations">
  <label>Currency:</label>
  <select class="form-control" name="currency" id="currency">
    {% if currency == "dollar" %}
      <option name="&dollar;" selected  value="dollar">US-Dollar &dollar;</option>
      <option name="&euro;" value="euro">Euro &euro;</option>
    {% else %}
      <option name="&dollar;" value="dollar">US-Dollar &dollar;</option>
      <option name="&euro;" selected value="euro">Euro &euro;</option>
    {% end %}
  </select>

  <label for="date_from">From:</label>
  <input min="{{ date_data[4] }}" max="{{ date_data[3] }}" value="{{ date_data[1] }}" type="date" id="date_from" name="date_from">

  <label for="date_until">Until:</label>
  <input min="{{ date_data[4] }}" max="{{ date_data[3] }}" value="{{ date_data[2] }}" type="date" id="date_until" name="date_until">

  <input type="submit" value="Filter">
</form>

<br>

<div class="row">
  <div class="col-md-6">
    <p>Total amount (Liberapay): <b>{{ total_libera }}&{{ currency }};</b></p>
    <p>
      List of <a href="https://liberapay.com/F-Droid-Data">
      Liberapay</a> donations to F-Droid per month.
      <br>
      <br>
      <br>
    </p>
    <ul class="list-group">
      {% for item in items %}
        <li class="list-group-item">{{ item['month'] }}: <b>{{ item['amount'] }}&{{ currency }};</b></li>
      {% end %}
    </ul>
  </div>

  <div class="col-md-6">
    <p>Total amount (OpenCollective): <b>{{ total_open }}&{{ currency }};</b></p>
    <p>
      List of <a href="https://opencollective.com/f-droid">
      OpenCollective</a> donations to F-Droid per month 
      <br>
      (including the <a href="https://opencollective.com/f-droid-euro">€ Collective</a>).
      <br>
      Contributions over 500€/$ are not counted to the (monthly) total.
    </p>
    <ul class="list-group">
      {% for item in items2 %}
        <li class="list-group-item">{{ item['month2'] }}: <b>{{ item['amount2'][0] }}&{{ currency }};</b>
          {% if item['amount2'][1] > 0 %}
          (excl. High-Value Contributions: {{ item['amount2'][1] }}&{{ currency }};)
          {% end %}
        </li>
      {% end %}
    </ul>
  </div>
</div>

{% end %}






